@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  body {
    font-family: var(--font-manrope), sans-serif;
  }
}

.hover-nav {
  @apply tracking-wide hover:text-blue-500;
}
